<div class="row">
    <div class="centraliza">
        <div class="col-xs-6">
            <div class="card" style="margin-top: 3em;">
                <div class="card-header">
                    Usuários cadastrados
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" style="float:right;"
                        (click)="cadastrarUsuario()">Novo</button>

                    <div style="margin-top: 4em;">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Login</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let u of usuarios">
                                    <td>{{ u.nome }}</td>
                                    <td>{{ u.login }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>